{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Studio JPG</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Aqui nós transformamos momentos únicos em lembranças eternas. Seja um casamento inesquecível,
            um evento corporativo, ou um ensaio cheio de personalidade, nossa missão é contar histórias através de imagens marcantes.
            Com um olhar artístico e equipamentos de ponta, entregamos muito mais que fotos: criamos conexões e eternizamos sentimentos.
            Porque cada clique é um capítulo do seu legado.<br>Pronto para escrever sua história em imagens?
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3" href="/fotografo">Nossos Fotografos</a>
            <a type="button" class="btn btn-outline-dark btn-lg px-4" href="/evento">Nossos Serviços</a>
        </div>
    </div>
</div>

{% endblock %}